<html>
  <head>
    <link rel="stylesheet" href="/styles.css">
    <title><%= title %></title>
  </head>
  <body>
    <div class="total">
        <%- include('links', {connect: connect}) %>
        <div class="outer">
          <% messages.forEach((message) => { %>
              <div class="container">
                  <p><%= message.message %></p>
                  <p><%= message.author %></p>
                  <p><%= message.date %></p>
                  <form action="/<%= message.id %>/delete" method="POST">
                    <button type="submit">Delete</button>
                  </form>
              </div>
          <% }) %>
        </div>
    </div>
  </body>
</html>